.bet-history {
    margin-top: 10px;
}

.bet-history table {
    margin-top: 5px;
    border-top: 1px solid rgba(128, 128, 128, .2);
    width: 100%;
}

.bet-history table tr {
    height: 32px;
    border-bottom: 1px solid rgba(128, 128, 128, .2);
}

.bet-history table th {
    text-align: center;
    color: #878787;
}

.bet-history table td {
    text-align: center;
    color: #8a7b40;
}